#experience .box-info {
  padding-left: 0rem !important;
  margin-top: 20px;
  overflow: scroll;
}
#experience .box-info div {
  padding: 10px;
  background: var(--light);
  border-radius: 20px;
  align-items: center;
}

#experience .box-info .box-info-head h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark);
}
#experience .box-info .box-info-head .badge:nth-child(1) {
  float: right;
}
#experience .box-info .box-info-body p {
  margin-bottom: 0px;
  color: var(--dark);
  font-weight: 500;
  font-size: smaller;
  margin: 5px 0px;
}

#experience .box-info .box-info-body .badge {
  margin-right: 5px;
}

#experience .box-info-footer {
  float: right;
}
#experience .box-info .box-info-footer .fa {
  margin: 0px 5px;
  color: var(--dark);
}

#experience input,
#experience textarea,
#experience input:focus,
#experience textarea:focus {
  outline: none;
  border: 0px;
  color: inherit;
  background: inherit;
  font-size: inherit;
  font-weight: inherit;
}
#experience input::placeholder,
#experience textarea::placeholder {
  color: inherit;
}

#experience h5 input,
#experienceli textarea,
#experience .text-bg-warning input {
  width: 100% !important;
}

#experience .box-info-footer button {
  background: none;
  color: var(--dark);
  border: 0px;
}

#experience .experience-form .company {
  width: 70%;
}

input[name="des"],
input[name="company"] {
  width: 100%;
  display: inline-block;
  width: 100%;
}
